<footer class="footer">
    <div class="footer__content">
        <div class="footer__top top-footer">
            <div class="container">
                <div class="top-footer__content">
                    <div class="top-footer__left">
                        <a href="#" class="top-footer__logo">
                            <img loading="lazy" src="img/icon/logo.svg" alt="">
                        </a>
                        <div data-da=".top-footer__content,992,last" class="top-footer__socials">
                            <a href="#">
                                <img src="img/icon/telegramm.svg" alt="">
                            </a>
                            <a href="#">
                                <img src="img/icon/watsapp2.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="top-footer__center">
                        <ul>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="#">Портфолио</a>
                            </li>
                            <li>
                                <a href="#">Отзывы</a>
                            </li>
                            <li>
                                <a href="#">Цены</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-footer__right">
                        <div class="top-footer__contacts">
                            <div class="contacts">
                                <div class="contacts__icon">
                                    <img src="img/icon/phone-call.svg" alt="">
                                </div>
                                <div class="contacts__text">
                                    <div class="contacts__title">
                                        <a href="#" class="contacts__phone">
                                            <span>8 800 250 04 08</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts">
                                <div class="contacts__icon">
                                    <img src="img/icon/map.svg" alt="">
                                </div>
                                <div class="contacts__title">
                                    <div class="contacts__text">
                                        <span>г Ставрополь,</span><br> ул. Льва Толстого, д. 88
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn">Запись на прием</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom bottom-footer">
            <div class="container">
                <div class="bottom-footer__content">
                    <div class="bottom-footer__copy">© Nika Estetika 2025 Все права защищены</div>
                    <a href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>