<header data-lp class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__top">
                <div class="header__icon">
                    <div class="icon-menu">
                        <span></span>
                    </div>
                </div>
                <div data-da=".header__body, 992, first" class="contacts">
                    <div class="contacts__icon">
                        <img src="img/icon/map.svg" alt="">
                    </div>
                    <div class="contacts__title">
                        <div class="contacts__text">
                            <span>г Ставрополь,</span> ул. Льва Толстого, д. 88
                        </div>
                    </div>
                </div>
                <a href="#" class="header__logo">
                    <img src="img/icon/logo.svg" alt="">
                </a>
                <div data-da=".header__body, 992, first" class="contacts last">
                    <div class="contacts__icon">
                        <img src="img/icon/phone-call.svg" alt="">
                    </div>
                    <div class="contacts__text">
                        <div class="contacts__title">
                            <a href="#" class="contacts__phone">
                                <span>8 800 250 04 08</span>
                            </a>
                            <a href="#" data-popup="#call" class="contacts__link">Заказать звонок</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="header__phone">
                    <img src="img/icon/phone-call.svg" alt="">
                </a>
            </div>
            <div class="header__bottom">
                <div class="header__services">
                    <div class="header__item">
                        <div class="icon-menu">
                            <span></span>
                        </div>
                        <span>Услуги</span>
                        <img class="header__arrow" src="img/icon/arrow2.svg" alt="">
                    </div>
                    <div class="dropdowm-header">
                        <div class="dropdowm-header__body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image3.webp" alt="">
                                        <span>Ботулинотерапия</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                        <span>Биореавилитация</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image5.webp" alt="">
                                        <span>Мезотерапия</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image6.webp" alt="">
                                        <span>Контурная пластика</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image7.webp" alt="">
                                        <span>Филлеры</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img loading="lazy" src="img/image8.webp" alt="">
                                        <span>Увеличение губ</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__body">
                    <ul>
                        <li>
                            <a href="#" data-goto=".block-portfolio" data-goto-header><span>Портфолио</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Отзывы</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Цены</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Контакты</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>