<script src="js/dynamic_adapt.js" defer></script>
<script src="js/swiper-10.2.0.min.js" async></script>
<script src="js/fancybox.umd.js" async></script>
<script src="js/scripts.js" defer></script>
<script src="js/spollers.js" async></script>
<script src="js/tabs.js" async></script>
<script src="js/popup.js" async></script>
<script src="js/forms.js" async></script>